.showcase-card--expand .content {
  background-color: lightgoldenrodyellow;
  margin-left: -15vw;
  box-shadow: inset 0 0 13px hsla(30deg, 80%, 60%, 0.35);
  width: 100vw;

  .skill-entries {
    display: flex;
    padding: 20px;
    box-shadow: inset 0 -4px 7px hsla(30deg, 80%, 60%, 0.3);

    .heading-section {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: max(20%, 133px);

      img {
        width: inherit;
        padding-top: 10px;
        margin-bottom: -15px;
      }

      h1 {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  .skill-section {
    width: 80%;
    padding-left: 30px;
    box-sizing: border-box;

    h2 {
      font-size: 21px;
      color: #666;
      font-variant-caps: all-small-caps;
      letter-spacing: 0.035em;
    }

    .spread {
      flex-wrap: wrap;
    }

    .card {
      background-color: #d8d8f0;
      padding: 10px 15px;
      width: 19ch;
    }

    .project-content {
      width: 100%;
      padding-right: 5vw;
      justify-content: space-between;

      .card {
        background-color: transparent;
        width: 35%;
        padding-left: 0;

        h2 {
          color: black;
        }

        p {
          color: #666;
        }
      }

      & > .spread {
        flex-direction: column;
        width: 35%;
        align-items: end;

        .spread {
          justify-content: end;
        }
      }

      .check-out {
        text-align: right;
        color: #444;
        font-weight: bold;
        font-size: 17px;

        svg {
          height: 19px;
          margin-right: -5px;
          margin-bottom: -3px;
        }
      }
    }
  }
}

