footer {
  display: flex;
  justify-content: space-around;

  .left-section, .right-section {
    padding-block: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image-bullet {
      color: white;

      img {
        height: 25px;
      }
    }
  }
}

