@use './components/shadows';

.homepage {
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-container, .skill-list, .skill-list li {
    position: absolute;
}

.picture-container, .skill-list {
    top: 30vh;
}

.picture-container {
    img {
        border-radius: 100%;

        /* Adjust the overall size */
        --size: 50vh;
        width: var(--size);
        height: var(--size);

        /* Change the position so that it is down-ish */
        @include shadows.layered-shadow1();
    }
}

.skill-list {
    padding: 0;
    img {
        height: 0.8em;
    }
    .description {
        display: flex;
        * {
            padding: 0 0.3vw;
        }
    }
}


