@use './components/shadows';

.homepage {
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-container {
    position: absolute;
    bottom: 3vh;

    img {
        border-radius: 100%;

        /* Adjust the overall size */
        --size: 60vh;
        width: var(--size);
        height: var(--size);

        /* Change the position so that it is down-ish */
        @include shadows.layered-shadow1();
    }
}

.skill-list img {
    height: 0.8em;
}

