@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url(../fonts/SourceSansPro-Semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 60px;
  background-color: green;
}

body {
  font-family: SourceSansPro-Semibold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101f1e;
    color: white;
  }
}


