@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url(../fonts/SourceSansPro-Semibold.woff2);
}

* {
  margin: 0;
  padding: 0;
}

.navbar {
  height: 60px;
  background-color: green;
}

body {
  font-family: SourceSansPro-Semibold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101f1e;
    color: white;
  }
}

.spread {
  display: flex;
  gap: 15px;
}

.card {
  border-radius: 10px;
  padding: 30px 17px;
  transition: 500ms;
}

.hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.shown {
  animation: expand-downwards 0.7s forwards;
  animation-timing-function: cubic-bezier(.12,.71,0,1.03);
}

@keyframes expand-downwards {
  from {
    height: 0;
    padding: 0;
    transform: scaleY(0.8);
    overflow: hidden;
  }

  to {
    height: 100%;
    padding: auto;
    transform: scaleY(1);
    overflow: hidden;
  }
}

.pill {
  --color: #cadce2;
  background-color: var(--color);
  padding: 10px 20px;
  border-radius: 50px;
  color: #0b1d33;
  transition: 200ms;

  &:hover {
    scale: 1.1;
  }
}

