.info-cards {
  background-color: white;
  padding-bottom: 30px;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
  align-items: center;
  transition: 500ms;
  transition-timing-function: cubic-bezier(.26,.93,0,1.19);
  transition-delay: 100ms;

  a {
    text-decoration: none;
  }

  .card {
    background-color: #ffdfadc4;
    opacity: 0;
    color: black;
    padding: 30px 17px;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 13px 12px -6px hsla(32.5, 100%, 70%, 60%);
    animation: 1.5s blur-squeeze 0.75s forwards;
    transition: 300ms;
    backdrop-filter: blur(25px);

    h1 {
      font-size: 22px;
      font-weight: bold;
    }

    span {
      font-size: 16px;
      overflow-wrap: break-word;
      width: 200px;
      text-align: center;
    }

    &:hover {
      scale: 1.05;
      box-shadow: 0 22px 22px -14px hsla(32.5deg, 70%, 60%, 0.6);
      background-color: rgba(255, 232, 194, 0.78);
    }
  }

  &.default {
    position: relative;
    z-index: 2;
  }

  &.top-bar {
    position: fixed;
    top: 3px;
    width: 94vw;
    height: min-content;
    padding-block: 20px;
    background-color: rgba(251, 247, 242, 0.21);
    box-shadow: 0 17px 15px -10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    z-index: 5;
    margin-inline: 3vw;
    border-radius: 50px;
    box-sizing: border-box;

    .card {
      background-color: transparent;
      padding: 0;
      margin: 0;
      box-shadow: none;
      text-align: center;
      backdrop-filter: none;

      h1 {
        font-size: 16px;
        border-bottom: 3px solid black;
        text-underline-offset: 5px;
        transition: 200ms;
        transition-timing-function: cubic-bezier(.26,.93,0,1.19);

        &:hover {
          scale: 1.05;
        }
      }

      span {
        display: none;
      }
    }
  }
}

.info-cards--top-bar {
  height: 175px;
}


@media (orientation: portrait) {
  .info-cards {
    padding: 30px;
    width: calc(100vw - 60px);

    .card {
      margin-top: -75px;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

@keyframes blur-squeeze {
  0%, 15% {
    opacity: 0;
    scale: 1.1;
    filter: blur(25px);
  }

  50%, 100% {
    opacity: 1;
    filter: blur(0px);
  }

  60% {
    scale: 0.9;
    filter: blur(5px);
  }

  100% {
  }
}

@media (max-width: 786px) {
  .info-cards {
    padding-top: 8px;
    gap: 4vw;

    .card {
      background-color: transparent;
      padding: 0;
      margin: 0;
      box-shadow: none;
      text-align: center;

      h1 {
        color: black;
        font-size: 16px;
        border-bottom: 1.5px solid #444;
        text-underline-offset: 5px;
      }

      span {
        display: none;
      }
    }
  }
}

