.info-cards {
  background-color: white;
  padding-bottom: 30px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }

  .card {
    background-color: #ffadbc;
    color: black;
    padding: 30px 17px;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -8px -16px 4px transparent;
    animation: 1.5s blur-squeeze;
    transition: 300ms;

    h1 {
      font-size: 22px;
      font-weight: bold;
    }

    span {
      font-size: 16px;
    }

    &:hover {
      scale: 1.05;
      box-shadow: 0 12px 16px -8px hsla(0deg, 100%, 35%, 0.4);
      background-color: #fdbcc8;
    }
  }
}

@keyframes blur-squeeze {
  0%, 15% {
    opacity: 0;
    scale: 1.1;
    filter: blur(25px);
  }

  50%, 100% {
    opacity: 1;
    filter: blur(0px);
  }

  60% {
    scale: 0.9;
    filter: blur(5px);
  }
}

