.my-skills {
  background-color:  white;
  color: black;
  padding-inline: 15vw;
  
  .data-showcase {
    padding-top: 17px;
    padding-bottom: 51px;
    flex-wrap: wrap;

    .showcase-card {
      --color: #ffff6c;
      --color-hover: #fdfd81;
      --shadow-color: #82820891;

      background-color: var(--color);

      padding: 38px 51px;

      border-radius: 10px;
      font-weight: bold;
      font-size: 19px;
      box-shadow: 0 10px 16px -4px var(--shadow-color);
      cursor: pointer;
      transition: 500ms;

      &:hover {
          scale: 1.1;
          box-shadow: 0 32px 32px -9px #9d940670;
          background-color: var(--color-hover);
      }

      &:active {
        box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.2);
      }

      &.expanded {
        width: 100vw;
        margin-left: -50px;
        padding-block: 20px;
        margin-bottom: -10px;

        &:hover {
          scale: 1;
        }
      }
    }
  }
}

