.my-skills {
  background-color:  white;
  color: black;
  padding-inline: 15vw;
  box-shadow: 0 16px 16px #0000003f;

  .left-side {
    display: flex;
    align-items: baseline;

    .guide-message {
      margin-left: 15px;
      position: relative;
      bottom: 3px;
    }
  }

  .data-showcase {
    padding-bottom: 51px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .showcase-card {
      --color: #ffff6c;
      --color-grad: #dddd52;
      --color-hover: #fdfd81;
      --shadow-color: #00000054;

      --initWidth: 10ch;
      background-color: var(--color);
      background: linear-gradient(90deg, var(--color) 35%, var(--color-grad));
      width: max(30%, var(--initWidth));

      padding: 38px 51px;

      border-radius: 10px;
      font-weight: bold;
      font-size: 19px;
      text-align: center;
      box-shadow: 0 10px 16px -4px var(--shadow-color);
      cursor: pointer;
      transition: 500ms;
      transition-timing-function: cubic-bezier(.18,.89,.32,1.1);

      &:hover {
          scale: 1.1;
          box-shadow: 0 32px 32px -9px #00000050;
          background-color: var(--color-hover);
      }

      &:active {
        box-shadow: inset 0 0 8px 4px rgba(0, 0, 0, 0.2);
      }

      &.expanded {
        width: 100vw;
        padding-block: 20px;
        margin-bottom: -10px;
        transition-timing-function: cubic-bezier(.18,.89,.32,1.35);

        &:hover {
          scale: 1;
        }
      }
    }
  }

  .navigator {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  
    .sorter {
      align-items: center;
      gap: 10px;

      & > span {
        color: #999;
        box-shadow: -3px -4px 4px transparent;
        padding: 10px 20px;
        border-radius: 50px;
        transition: 200ms;
        cursor: pointer;

        &:hover {
          box-shadow: 1px 3px 4px #0000003f;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .my-skills {
    padding-inline: 10px;

    .data-showcase {
      justify-content: center;
    }

    .showcase-card--expand .content {
      width: 100vw;
      margin-left: -10px;

      .skill-entries {
        flex-direction: column;
        align-items: center;

        .skill-section {
          text-align: center;
          padding-left: 0;

          .spread {
            justify-content: center;
            align-items: center;
            width: 100%;

            .project-content {
              padding-right: 0;

              .card {
                overflow-wrap: break-word;
                width: fit-content;
                justify-content: space-between;
                padding-left: 15px;
              }

              & > .spread .spread {
                justify-content: center;
              }

              .check-out {
                text-align: center;
                width: max-content;
              }
            }
          }
        }
      }
    }
  }
}

.guide-message {
  color: #777;
}

@media (orientation: portrait) {
  .my-skills .navigator {
    justify-content: center;
    .left-side {
      flex-direction: column;
      align-items: center;
      margin-left: -25px;
    }

    .sorter {
      display: none;
    }
  }
}

