
.welcome-content {
  display: flex;
  position: relative;
  color: white;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: #CDCDCB;
  }

}

.welcome-content {
  height: 60vh;
  .welcome-message {
    width: max-content;
    margin-block: 110px;

    h1 {
      font-size: 42px;
    }

    h2 {
      font-size: 22px;
    }
  }

  img {
    position: relative;
    z-index: 1;
    height: 110%;
    top: 130px;
    margin-top: -250px;
  }

  .welcome-content-splash {
    position: absolute;
    height: inherit;
    width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .row {
      display: flex;
      justify-content: space-around;
      font-size: 8px;

      .dot {
        position: relative;
        --delay: 0s;
        // DEBUG: Causes scrolling issues
        // animation: funfade 4s;
        animation-delay: var(--delay);
      }
    }
  }
}

@media (orientation: portrait) {
  .welcome-content {
    flex-direction: column;
    gap: 25px;

    .welcome-message {
      text-align: center;
      width: 100%;
      margin-block: 20px 50px;
      width: 90vw;
    }
  }
}

@keyframes funfade {
  0% {
    opacity: 1;
    filter: blur(0);
    display: flex;
  }

  50% {
    opacity: 0;
    filter: blur(10px);
  }

  51% {
    display: none;
  }
}

