
@media (orientation: landscape) {
  .what-i-do {
    background-color: #1c3626a8;
    width: 97%;
    margin: auto;
    padding: 15px 43px;
    box-sizing: border-box;
    border-radius: 8px;
    animation: big-box-entry 300ms forwards;
    animation-delay: 2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;

    .left-section {
      font-size: 2.5vw;

      span {
        font-size: 3vw;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        position: absolute;
        display: inline-block;
        margin-top: -5px;
        margin-left: 8px;
      }
    }

    .right-section {
      display: flex;
      align-items: center;

      img {
        width: 450px;
        opacity: 0.5;
        filter: drop-shadow(0 4px 6px black);
        height: 250px;
        object-fit: cover;
      }
    }
  }
}

@keyframes big-box-entry {
  0% {
    box-shadow: 0 -4px 45px transparent;
  }

  100% {
    box-shadow: 0 19px 15px #070D09;
  }
}

.squeeze-in {
  animation: squeeze-text 600ms forwards;
  animation-timing-function: ease-out;
}

@keyframes squeeze-text {
  0%, 100% {
    letter-spacing: -0.04em;
  }

  50% {
    letter-spacing: 0.00em;
  }
}

.image-animation {
  animation: image-in 600ms forwards;
}

@keyframes image-in {
  0% {
    filter: blur(10px);
  }

  100% {
    filter: blur(0px);
  }
}
